<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
 
  <title>SB Admin 2 - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="assets/css/sb-admin-2.min.css" rel="stylesheet">
  <script>
    $(document).ready(function () {
      $('#example').DataTable();
    });
  </script>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <app-menu></app-menu>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
        <app-top-bar></app-top-bar>
        <!-- 00000000000000000000000000000000000 -->
        <div class="container-fluid">
          <div class="card shadow mb-4">
            <div class="card-header py-1
            " style="background-color:#8099e5;">
              <h5 class="m-0 font-weight-bold" style="display:inline-block; float:left; color:white;">New Product</h5>

            </div>
            <div class="card-body">
                <div class="container">
                    <fieldset class="form-group">
                      <label>Product Name</label>
                      <input type="text" [(ngModel)]="product.productName" class="form-control" name="productName" required="required">
                    </fieldset>
                    <fieldset class="form-group">
                      <label>Description</label> 
                      <input type="text" [(ngModel)]="product.productDescription"  class="form-control" name="productDescription" required="required">
                    </fieldset>
                     
                    <fieldset class="form-group">
                      <label>Product in Stock</label> 
                      <input type="text" [(ngModel)]="product.productInStock"  class="form-control" name="productInStock" required="required">
                    </fieldset>


                    <fieldset class="form-group">
                      <label>Whole Sale Price</label> 
                      <input type="text" [(ngModel)]="product.productWholesalePrice"  class="form-control" name="productWholesalePrice" required="required">
                    </fieldset>

                    <input type="hidden" [(ngModel)]="product.Created_By" class="form-control" name="createdBy" required="required">
                    <input type="hidden" [(ngModel)]="product.createdAt" class="form-control" name="createdDate" required="required">
                    <input type="hidden" [(ngModel)]="product.updatedAt" class="form-control" name="modifiedDate" required="required">
                    <input type="hidden" [(ngModel)]="product.Modified_By" class="form-control" name="updatedby" required="required">
                    <button class="btn btn-success" (click)="saveProduct()">Save</button>
                  </div>
            </div>
          </div>
        </div>
        <!-- 000000000000000000000000000000000 -->
      </div>
    </div>
  </div>
</body>




<!-- Page level plugins -->
<script src="assets/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="assets/js/demo/datatables-demo.js"></script>
<!-- Core plugin JavaScript-->
<script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="assets/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="assets/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="assets/js/demo/datatables-demo.js"></script>

</html>