<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="assets/css/sb-admin-2.min.css" rel="stylesheet">
  <!-- Page level plugins -->
  <script src="assets/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="assets/js/demo/datatables-demo.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="assets/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="assets/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="assets/js/demo/datatables-demo.js"></script>

  <script>
    $(document).ready(function () {
      $('#example').DataTable();
    });
  </script>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <app-menu></app-menu>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
        <app-top-bar></app-top-bar>
        <!-- 00000000000000000000000000000000000 -->
        <div class="container-fluid">
          <div class="card shadow mb-4">
            <div class="card-header py-1" style="background-color:#8099e5;">
              <h5 class="m-0 font-weight-bold" style="display:inline-block; float:left; color:white;">New Role</h5>
            </div>
            <div class="card-body">
              <div class="container">
                <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label>First Name</label>
                    <input type="text" formControlName="firstName" [(ngModel)]="user.firstName" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                      <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" formControlName="lastName" [(ngModel)]="user.lastName" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                      <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Address</label>
                    <input type="text" formControlName="address" [(ngModel)]="user.address" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                    <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                      <div *ngIf="f.address.errors.required">Address is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Email</label>
                    <input type="text" formControlName="email" [(ngModel)]="user.emailId" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Mobile Number</label>
                    <input type="text" formControlName="mobileNumber" [(ngModel)]="user.mobileNumber" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }" />
                    <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
                      <div *ngIf="f.mobileNumber.errors.required">mobileNumber is required</div>
                      <div *ngIf="f.mobileNumber.errors.mobileNumber">MobileNumber must be a valid.</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Role</label> 
                      <select class="custom-select" formControlName="role" [(ngModel)]="user.role" > 
                        <option *ngFor="let c of roleList"  [attr.selected]="c.id == user.role.id" [ngValue]="c.id">{{c.roleName}}</option>
                      </select>
                    <div *ngIf="submitted && f.user.errors" class="invalid-feedback">
                      <div *ngIf="f.user.errors.required">User is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- 000000000000000000000000000000000 -->
        </div>
      </div>
    </div>
  </div>
</body>

</html>